#########
# Julia #
#########

# julia --code-coverage
*.jl.cov
*.jl.*.cov

# julia --track-allocation
*.jl.mem

# BinaryProvider and BinDeps
deps/deps.jl
deps/build.log
deps/downloads/
deps/usr/
deps/src/

# Documenter
docs/build/
docs/site/

# Only Project.toml is relevant for packages
Manifest.toml


###########
# Jupyter #
###########

.ipynb_checkpoints
*/.ipynb_checkpoints/*

profile_default/
ipython_config.py
